<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <h3>Ingredients</h3>
        <template v-for="(person, index) in persons" v-if="showList">
            <p :key="person.id" id="p1">
                <span> {{index}}) </span>
                <span v-for="(info, key, x) in person" v-if="x > 0">
                    {{key}}: {{info}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                </span>
            </p>
            <hr>
        </template>
        <button ref="btn" @click="updateDOM">My Button</button>
    </div>



    <script>
        var app = new Vue({
            el: '#app',
            data: {
                showList: false,
               ingredients: ["apple", "orange", "Cherry"],
               persons: [
                   {id: "id1", name: "Mehran", age: 36, color: "gold"},
                   {id: "id2", name: "Sheeva", age: "unknown", color: "blue"},
               ]
            },
            methods: {
                updateDOM: function () {
                    this.showList = !this.showList
                    this.$refs.btn.innerText = this.showList ? "Hide" : "Show"
                }
            }
        })
    </script>
</body>

</html>