<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="show"> You can see me</p>
        <p v-else> You can also see me </p>
        <template v-if="show">
            <p>inside a <b>template</b></p>
            <p>this is also inside the template</p>
        </template>
        <button @click="show = !show">Show Mood</button>
    </div>



    <script>
        var app = new Vue({
            el: '#app',
            data: {
                show: true
            },
            computed: {
            }
        })
    </script>
</body>

</html>