input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.validation{
    display: inline-flex;
}

.validation .invalid {
    margin: 0 15px;
    color: red;
    border: none;
}
input.invalid {
    border-color: red;
}

.dialog {
	height: 70px;
	position: fixed;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
	top: -80px;
    transition: all 250ms;
    z-index: 20;
}
.alert {
    background-color: red;
}

.warning {
    background-color: orange;
}

.confirm {
    background-color: #00854d;
}
.dialog.active {
    top: 0;
}